
/*------------------------------Styles for gallery--------------------------*/
@keyframes fadeIn {
	0%{opacity:0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
} 
#gallery {
	text-align:left;
	width:700px;
	margin:30px auto 0 auto;
	background: #000;
	overflow:hidden;
	border: 10px solid #000;
	box-shadow: #131313 0px 2px 10px;
	animation-name: fadeIn;
	animation-duration:5s;
	animation-iteration-count:1;
	animation-delay:0.5s;	
}

ul#slider{
	border-radius:10px;
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	width:700px;
	height:438px;
	overflow:hidden;	
}

ul#thumbs {
	overflow:auto;
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	background:#000;
	width:700px;	
}
ul#thumbs a {
	transition: opacity .2s ease-in-out;
	border: 1px solid #979797;
	width:35px;
	height: 35px;
	display:block;
	float:right;
	margin:10px 0 0 10px;
	opacity:.75; 
	overflow:hidden;	
}

ul#thumbs a:hover{
	opacity:1;
}

ul#slider li{
	width:700px;
	height:438px;
	position:absolute;
	
	
	
}

ul#slider li p {
	position:absolute;
	bottom:0;
	left:0;
	z-index: inherit;
	color:#FFF;
	background: rgba(0,0,0,.5);
	width:100%;
}

ul#slider li p span {
	line-height: 1.2em;
	padding:10px;
	display:block;
	
}

@keyframes moveTarget {
	0% {left:-700px;}
	100%{left:0px;}
}

ul#slider li:target {
	animation-name:moveTarget;
	animation-duration: .5s;
	animation-iteration-count:1;
	top:0;
	left:0;
	z-index:10;
	
}

@keyframes moveIt {
	0% {left:0px;}
	50% {left:700px;}
	100% {left:-700px;
		z-index:5;
	}
}

ul#slider li:not(:target){
	animation-name:moveIt;
	animation-duration:1.5s;
	animation-iteration-count:1;
	top:0px;
	left:0px;
}


/*------------------------------End Styles for gallery--------------------------*/
/*------------------------------Styles for form--------------------------*/

body.contactPage article{
	width:100%;
	
}

 legend{
	 font:16px Verdana, Tahoma, sans-serif; 
	 background-color:rgb(160, 220, 160);
	 padding:.25em;
 }
 label{font:14px Verdana, Tahoma, sans-serif;}
	 
fieldset.personal label{
	width:100px;
	display:block;
	background-color:rgb(160, 220, 160);
	display:inline-block;
	text-align:right;	
	font-weight:bold;
}


input.button {
	box-shadow: rgba(0,0,0,1) 0px 0px 4px;
	transition:all .5s;
	margin: 5px;
	
}
input.button:hover{
	background-color:rgb(160, 220, 160);
	border-bottom:3px solid #FF3D7F;
	transition:all .5s;
}



/*------------------------------End Styles for form--------------------------*/
/*------------------------------Styles for menu--------------------------*/

* {box-sizing:border-box;}
a {
  text-decoration: none;
  outline: none;
  transition: .3s ease-in-out;
}
body {
  margin: 0;
  background: #f7f5f2;
}
header {
  background: white;
  text-align: center;
}


nav {
  display: table;
    width: 100%;

  background-color:  #EAECE4;
}
.head {
  display: block;
  margin: 0 auto;
     padding: 5px 50px;
  background-color: #DCDCDC;
  text-align: center;
  font-family: "Century Gothic", 'Playfair Display', serif;

    

}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
    
     
}
.menu > li {
  width: 20%;
  float: left;
  
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.menu > li > .logo{
      display: flex;
  text-transform: uppercase;
  font-size: 14px;
  color: #D5B45B;
  padding: 8px 70px;

    font-family:'Century Gothic', 'Playfair Display', serif;
    font-weight:bold;
}
.menu > li > a {
    
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #504040;
  padding: 15px 70px;
  
}


.menu > li:hover > a, .submenu li:hover a {
  color: #D5B45B;
}

.submenu {
  background: #EAECE4;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  width: 180px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -o-transform-origin:0 0;
  -ms-transform-origin:0 0;
  transform-origin:0 0;
}
.submenu a {
  color: #504040;
  text-align: left;
  display: block;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.submenu li:last-child a {
  border-bottom: none;
}
.menu li:hover .submenu {
  opacity: 1;
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

/*------------------------------END Styles for menu--------------------------*/


#mainContentIndex{
    vertical-align: middle;
	width: 800px;
    height: 550px;
    display: flex;
    float: none;
    background: #ffffff;
    margin: 10px 20px ; 
}
#about{
    vertical-align: middle;
	width: 380px;
    height: 550px;
    display: flex;
    float: none;
    background: #ffffff;
    margin: 10px 200px ; 
}

#aboutMe{
	width:300px;
	float: left;
    margin: 150px 80px ; 
    display:flex;
    font-family: 'Satisfy', cursive;
    color: #808080;
    text-align: center;
    font-style: italic;
    font-size: 22px;
	
}
#aboutMeA{
	width:300px;
	float: right;
    margin: 150px 65px ; 
    display:flex;
    font-family: 'Satisfy', cursive;
    color: #808080;
    text-align: center;
    font-style: italic;
    font-size: 22px;
	
}

footer{
    width: 100%;
    position:fixed;
    bottom:0;
	clear:both;
}
footer div {
	width: 100%;
    font-family: "Century Gothic", 'Playfair Display', serif;
	display:block;
    padding: 5px 50px;
	background-color:#DCDCDC;
    text-align: center;
}
/*------------------------------Styles for form--------------------------*/
/* generic */
.contact{
color: #3F3F3F;
font-family: 'Droid Sans',Tahoma,Arial,Verdana sans-serif;
font-size:16px;
background:#3F3F3F;
}



@font-face {
    font-family: 'IconicStroke';
    src: url('font/iconic_stroke-webfont.eot');
    src: url('font/iconic_stroke-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/iconic_stroke-webfont.woff') format('woff'),
         url('font/iconic_stroke-webfont.ttf') format('truetype'),
         url('font/iconic_stroke-webfont.svg#IconicStrokeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1 {
font-family: 'Questrial', Verdana, sans-serif;
text-align:center;
font-size:30px;
padding:0;
margin:0 0 20px 0;
position:relative;
color:#8C8C8C;
}

/** have a nice ampersand **/
h1:after {
font-size:25px;
color:#D6CFCB;
content: '\2665'; 
text-align:center;
display:block;
width:100%;
font-family: 'Alice', Verdana, serif;
text-shadow: 0px 1px 0px #fff;
}

/** create the gradient bottom **/
h1:before {
position:absolute;
bottom:15px;
 content: ' '; 
 text-align:center;
 display:block;
 height:2px;
 width:100%;
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(182,180,180,0.7) 42%, rgba(180,178,178,0) 43%, rgba(168,166,166,0) 50%, rgba(180,178,178,0) 57%, rgba(182,180,180,0.7) 58%, rgba(238,237,237,0.3) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(182,180,180,0.7)), color-stop(43%,rgba(180,178,178,0)), color-stop(50%,rgba(168,166,166,0)), color-stop(57%,rgba(180,178,178,0)), color-stop(58%,rgba(182,180,180,0.7)), color-stop(90%,rgba(238,237,237,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* W3C */

}


/* Here comes to good stuff : content styling */    
#content{
position:relative;
margin:20px auto;    
width:450px;
min-height:200px;
z-index:100;
padding:30px;
border:1px solid #383838;
    
/* My stipped background */
background: #D1D1D1; /* Old browsers */
background: -moz-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: -o-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
/*border-radius*/
-webkit-border-radius:8px;
   -moz-border-radius:8px;
        border-radius:8px;
/*box-shadow*/
-webkit-box-shadow:0px 1px 6px #3F3F3F;
   -moz-box-shadow:0px 1px 6px #3F3F3F;
        box-shadow:0px 1px 6px #3F3F3F;
}

/** my "fake" background that will hover the stripes **/
#content:after{
background:#F9F9F9;
margin:10px;
position: absolute;
content : " ";
bottom: 0;
left: 0;
right: 0;
top: 0;
z-index: -1; 
border:1px #E5E5E5 solid;       
/*border-radius*/
-webkit-border-radius:8px;
   -moz-border-radius:8px;
        border-radius:8px;
}


/*** form styling **/


/** we remove the red glow around required fields since we are already using the red star */
input:required, textarea:required { 
    -moz-box-shadow:none;  
    -webkit-box-shadow:none;  
    -o-box-shadow:none;  
    box-shadow:none;  
}






/** inputs and textarea**/
input:not([type="submit"]), textarea{
outline:none;
display:block;
width:380px;
padding:4px 8px;
border:1px dashed #DBDBDB;
color:#3F3F3F;
font-family:'Droid Sans',Tahoma,Arial,Verdana sans-serif;
font-size:14px;
/*border-radius*/
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
/*transition*/
-webkit-transition:background 0.2s linear,
				   box-shadow 0.6s linear;
   -moz-transition:background 0.2s linear,
				   box-shadow 0.6s linear;
     -o-transition:background 0.2s linear,
				   box-shadow 0.6s linear;
        transition:background 0.2s linear,
				   box-shadow 0.6s linear;
}
input:not([type="submit"]):active, 
textarea:active,
input:not([type="submit"]):focus, 
textarea:focus{
background:#F7F7F7;
border:dashed 1px #969696;
/*box-shadow*/
-webkit-box-shadow:2px 2px 7px #E8E8E8 inset;
   -moz-box-shadow:2px 2px 7px #E8E8E8 inset;
        box-shadow:2px 2px 7px #E8E8E8 inset;
}
input:not([type="submit"]){
height: 20px;
}

/* placeholder */
::-webkit-input-placeholder  { 
color:#BABABA; 
font-style:italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
color:#BABABA;
font-style:italic;
} 
textarea{
min-height:60px;
resize:vertical
}




/** labels**/

/** adding our icon font !! */
.iconic:before{
font-size:25px;
font-family: "IconicStroke";
}
.iconic.link:before { content: '/'; }
.iconic.quote-alt:before { content: "'"; }
.iconic.comment:before { content: "q"; }
.iconic.user:before { content: "u"; }
.iconic.mail-alt:before { content: "M"; }


label{
color:#7F7E7E;
-webkit-transition: color 1s ease;
   -moz-transition: color 1s ease;
	    transition: color 1s ease;
}
label:hover{
color:#191919;
}
label:before{
color:#C1BFBD;
-webkit-transition: color 1s ease;
   -moz-transition: color 1s ease;
	    transition: color 1s ease;
}
label:hover:before{
color:#969696;
-webkit-transition: color 1s ease;
   -moz-transition: color 1s ease;
	    transition: color 1s ease;
}

p{
margin-bottom:20px;
}
.indication{
color:#878787;
font-size:12px;
font-style:italic;
text-align:right;
padding-right:10px;
}
.required{
color:#E5224C;
}




/** Styling the send button **/
input[type=submit]{
margin-left:235px;
cursor:pointer;
background:none;
border:none;
font-family: 'Alice',serif;
color:#767676;
font-size:18px;
padding:10px 4px;
border:1px solid #E0E0E0;
text-shadow: 0px 1px  1px #E8E8E8;
background: rgb(247,247,247);
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: linear-gradient(to bottom,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0px 1px 1px #FFF inset,
			       0 0 0px 5px #EAEAEA;
   -moz-box-shadow:0px 1px 1px #FFF inset,	
   		           0 0 0px 5px #EAEAEA;
        box-shadow:0px 1px 1px #FFF inset,	
        		   0 0 0px 5px #EAEAEA;
/*transition*/
-webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}

input[type=submit]:hover{
color:#686868;
border-color: #CECECE;
background: rgb(244,244,244);
background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
/*box-shadow*/
-webkit-box-shadow:0px 1px 1px #FFF inset,			
                   0 0 0px 5px #E0E0E0;
   -moz-box-shadow:0px 1px 1px #FFF inset,
        			0 0 0px 5px #E0E0E0;
        box-shadow:0px 1px 1px #FFF inset,
        			0 0 0px 5px #E0E0E0;        
}

input[type=submit]:active,
input[type=submit]:focus{
position:relative;
top:1px;
color:#515151;
background: rgb(234,234,234);
background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
/*box-shadow*/
-webkit-box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
   -moz-box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
        box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
}
/*------------------------------END Styles for form--------------------------*/
/*------------------------------Styles for gallery--------------------------*/
@keyframes fadeIn {
	0%{opacity:0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
} 
#photos{
    width: 600px;
    margin: auto;
}
#gallery {
	text-align:left;
	width:700px;
	margin:30px 0 0 0;
	background: #000;
	overflow:hidden;
	border: 15px solid #000;
	box-shadow: #131313 0px 2px 10px;
	animation-name: fadeIn;
	animation-duration:2s;
	animation-iteration-count:1;
	animation-delay:1s;	
}

ul#slider{
	border-radius:10px;
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	width:700px;
	height:438px;
	overflow:hidden;	
}

ul#thumbs {
	overflow:auto;
    width: 650px;
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	background:#000;
	
}
ul#thumbs a {
	transition: opacity .2s ease-in-out;
	border: 1px solid #979797;
	width:35px;
	height: 35px;
	display:block;
	float:left;
	margin:10px 0 0 10px;
	opacity:.75; 
	overflow:hidden;	
}

ul#thumbs a:hover{
	opacity:1;
}

ul#slider li{
	width:700px;
	height:438px;
	position:absolute;
	
	
	
}

ul#slider li p {
	position:absolute;
	bottom:0;
	left:0;
	z-index: inherit;
	color:#FFF;
	background: rgba(0,0,0,.5);
	width:100%;
}

ul#slider li p span {
	line-height: 1.2em;
	padding:10px;
	display:block;
	
}

@keyframes moveTarget {
	0% {left:-700px;}
	100%{left:0px;}
}

ul#slider li:target {
	animation-name:moveTarget;
	animation-duration: .5s;
	animation-iteration-count:1;
	top:0;
	left:0;
	z-index:10;
	
}

@keyframes moveIt {
	0% {left:0px;}
	50% {left:700px;}
	100% {left:-700px;
		z-index:5;
	}
}

ul#slider li:not(:target){
	animation-name:moveIt;
	animation-duration:1.5s;
	animation-iteration-count:1;
	top:0px;
	left:0px;
}


/*------------------------------End Styles for gallery--------------------------*/

#myText {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: normal;
    display: block;
align-content:  center;
    text-align: left;
  width: 600px;
  margin: 0 auto;
}
a:link {
    color: #504040;
}

/* visited link */
a:visited {
    color: #504040;
}

/* mouse over link */
a:hover {
    color: #D5B45B;
}

/* selected link */
a:active {
    color: #D5B45B;
}