/*------------------------------Styles for menu--------------------------*/
* {
	box-sizing:border-box;
}

a {
  text-decoration: none;
  outline: none;
  transition: .3s ease-in-out;
}

body {
  margin: 0;
  background: #f7f5f2;
}

header {
  background: white;
  text-align: center;
}

nav {
  display: table;
  width: 100%;
  background-color:  #EAECE4;
}

.head {
  display: block;
  margin: 0 auto;
  padding: 5px 50px;
  background-color: #DCDCDC;
  text-align: center;
  font-family: "Century Gothic", 'Playfair Display', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  width: 20%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.menu > li > .logo{
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  color: #D5B45B;
  padding: 8px 70px;
  font-family:'Century Gothic', 'Playfair Display', serif;
  font-weight:bold;
}

.menu > li > a {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #504040;
  padding: 15px 70px;
}

.menu > li:hover > a, .submenu li:hover a {
  color: #D5B45B;
}

.submenu {
  background: #EAECE4;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  width: 180px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -o-transform-origin:0 0;
  -ms-transform-origin:0 0;
  transform-origin:0 0;
}

.submenu a {
  color: #504040;
  text-align: left;
  display: block;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.submenu li:last-child a {
  border-bottom: none;
}

.menu li:hover .submenu {
  opacity: 1;
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
/*------------------------------END Styles for menu--------------------------*/

#mainContentIndex{
    vertical-align: middle;
	width: 800px;
    height: 550px;
    display: flex;
    float: none;
    background: #ffffff;
    margin: 10px 20px ;
}

#aboutMePic{
    vertical-align: middle;
	width: 33%;
	max-width: 380px;
    max-height: 550px;
    display: flex;
    float: left;
}

#aboutMe{
	max-width:300px;
	float: left;
    margin: 150px 80px ;
    display:flex;
    font-family: 'Satisfy';
    color: #808080;
    text-align: center;
    font-style: italic;
	font-size: 22px;
}

.aboutMeText{
	width: 33%;
	float: left;
    padding: 100px 30px ;
    display:flex;
    font-family: 'Satisfy';
    color: #808080;
    text-align: center;
    font-style: italic;
    font-size: 22px;
}

footer{
    width: 100%;
    position:fixed;
    bottom:0;
	clear:both;
}

footer div {
	width: 100%;
    font-family: "Century Gothic", 'Playfair Display', serif;
	display:block;
    padding: 5px 50px;
	background-color:#DCDCDC;
    text-align: center;
}

#myText {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: normal;
	display: block;
	align-content:  center;
	text-align: left;
	width: 600px;
	margin: 0 auto;
}

a:link {
    color: #504040;
}

/* visited link */
a:visited {
    color: #504040;
}

/* mouse over link */
a:hover {
    color: #D5B45B;
}

/* selected link */
a:active {
    color: #D5B45B;
}

article{
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-align: justify;
	text-overflow: ellipsis;
	width:100%;
}

h1 {
	font-family: 'Questrial', Verdana, sans-serif;
	text-align:center;
	font-size:30px;
	padding:0;
	margin:0 0 20px 0;
	position:relative;
	color:#8C8C8C;
}

/** have a nice ampersand **/
h1:after {
	font-size:25px;
	color:#D6CFCB;
	content: '\2665';
	text-align:center;
	display:block;
	width:100%;
	font-family: 'Alice', Verdana, serif;
	text-shadow: 0px 1px 0px #fff;
}

/** create the gradient bottom **/
h1:before {
	position:absolute;
	bottom:15px;
	content: ' ';
	text-align:center;
	display:block;
	height:2px;
	width:100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(182,180,180,0.7) 42%, rgba(180,178,178,0) 43%, rgba(168,166,166,0) 50%, rgba(180,178,178,0) 57%, rgba(182,180,180,0.7) 58%, rgba(238,237,237,0.3) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(182,180,180,0.7)), color-stop(43%,rgba(180,178,178,0)), color-stop(50%,rgba(168,166,166,0)), color-stop(57%,rgba(180,178,178,0)), color-stop(58%,rgba(182,180,180,0.7)), color-stop(90%,rgba(238,237,237,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* W3C */
}

/* Here comes to good stuff : content styling */
#content{
	position:relative;
	margin:20px auto;
	width:450px;
	min-height:200px;
	z-index:100;
	padding:30px;
	border:1px solid #383838;

/* My stipped background */
	background: #D1D1D1; /* Old browsers */
	background: -moz-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: -o-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
/*border-radius*/
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
			border-radius:8px;
/*box-shadow*/
	-webkit-box-shadow:0px 1px 6px #3F3F3F;
	   -moz-box-shadow:0px 1px 6px #3F3F3F;
			box-shadow:0px 1px 6px #3F3F3F;
}

p{
	margin-bottom:20px;
}